USE [master]
GO
/****** Object:  Database [DataQuickJob]    Script Date: 5/13/2021 3:38:42 PM ******/
CREATE DATABASE [DataQuickJob]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataQuickJob', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DataQuickJob.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataQuickJob_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DataQuickJob_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataQuickJob].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataQuickJob]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 5/13/2021 3:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[bill_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[bill_datecreate] [datetime] NULL,
	[bill_sum] [int] NULL,
	[bill_active] [bit] NULL,
	[bill_dealine] [datetime] NULL,
	[pakege_id] [int] NULL,
	[bill_key] [nvarchar](max) NULL,
	[bill_orderid] [nvarchar](max) NULL,
 CONSTRAINT [PK_Bills] PRIMARY KEY CLUSTERED 
(
	[bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorys]    Script Date: 5/13/2021 3:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorys](
	[cate_id] [int] IDENTITY(1,1) NOT NULL,
	[cate_name] [nvarchar](300) NULL,
	[cate_view] [int] NULL,
 CONSTRAINT [PK_Categorys] PRIMARY KEY CLUSTERED 
(
	[cate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chats]    Script Date: 5/13/2021 3:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chats](
	[chat_id] [int] IDENTITY(1,1) NOT NULL,
	[chat_sender] [int] NULL,
	[chat_receiver] [int] NULL,
	[chat_content] [nvarchar](max) NULL,
	[chat_datecreate] [datetime] NULL,
	[chat_color] [nvarchar](400) NULL,
	[chat_key] [nvarchar](max) NULL,
	[chat_active] [bit] NULL,
 CONSTRAINT [PK_Chats] PRIMARY KEY CLUSTERED 
(
	[chat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cvs]    Script Date: 5/13/2021 3:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cvs](
	[cv_id] [int] IDENTITY(1,1) NOT NULL,
	[cv_img] [nvarchar](max) NULL,
	[cv_location] [nvarchar](300) NULL,
	[cv_datebirth] [nvarchar](200) NULL,
	[cv_sex] [nvarchar](5) NULL,
	[cv_website] [nvarchar](max) NULL,
	[cv_target] [nvarchar](max) NULL,
	[cv_interest] [nvarchar](max) NULL,
	[cv_informatin] [nvarchar](max) NULL,
	[cv_referenceperson] [nvarchar](max) NULL,
	[cv_title] [nvarchar](200) NULL,
	[cv_email] [varchar](200) NULL,
	[cv_phone] [varchar](15) NULL,
	[cv_fullname] [nvarchar](300) NULL,
	[cv_active] [int] NULL,
	[cv_option] [bit] NULL,
	[cv_bin] [bit] NULL,
	[cv_datecreate] [datetime] NULL,
	[cv_dateupdate] [datetime] NULL,
	[cv_fakeid] [nvarchar](max) NULL,
	[cv_fontsize] [int] NULL,
	[cv_bg] [nvarchar](60) NULL,
	[cv_p] [int] NULL,
	[cv_view] [int] NULL,
	[cv_point] [int] NULL,
	[cv_deadline] [datetime] NULL,
	[user_id] [int] NULL,
	[theme_id] [int] NULL,
	[cv_addpress] [nvarchar](30) NULL,
	[cv_f] [nvarchar](100) NULL,
	[cv_pass] [nvarchar](max) NULL,
	[cv_submitkey] [int] NULL,
 CONSTRAINT [PK_Cvs] PRIMARY KEY CLUSTERED 
(
	[cv_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exps]    Script Date: 5/13/2021 3:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exps](
	[exp_id] [int] IDENTITY(1,1) NOT NULL,
	[exp_name] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Exps] PRIMARY KEY CLUSTERED 
(
	[exp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 5/13/2021 3:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[group_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[category_id] [int] NULL,
	[datecreate] [datetime] NULL,
	[group_item] [int] NULL,
	[job_id] [int] NULL,
	[provice_id] [int] NULL,
	[email] [varchar](3000) NULL,
	[skill] [nvarchar](max) NULL,
	[em_id] [int] NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemCvs]    Script Date: 5/13/2021 3:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemCvs](
	[ic_id] [int] IDENTITY(1,1) NOT NULL,
	[ic_name] [nvarchar](max) NULL,
	[ic_mid] [nvarchar](max) NULL,
	[ic_content] [nvarchar](max) NULL,
	[ic_fakeid] [int] NULL,
	[ic_theme_id] [int] NULL,
	[ic_usid] [int] NULL,
	[ic_stt] [int] NULL,
	[ic_enddate] [nvarchar](max) NULL,
	[ic_todate] [nvarchar](max) NULL,
	[ic_fake] [nvarchar](max) NULL,
 CONSTRAINT [PK_ItemCvs] PRIMARY KEY CLUSTERED 
(
	[ic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 5/13/2021 3:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[job_id] [int] IDENTITY(1,1) NOT NULL,
	[job_title] [nvarchar](2000) NULL,
	[job_addpress] [nvarchar](2000) NULL,
	[job_amout] [int] NULL,
	[wp_id] [int] NULL,
	[type_id] [int] NULL,
	[job_sex] [bit] NULL,
	[exp_id] [int] NULL,
	[job_payend] [varchar](50) NULL,
	[job_paystart] [varchar](50) NULL,
	[job_datedeline] [datetime] NULL,
	[job_name] [nvarchar](1000) NULL,
	[job_phone] [varchar](15) NULL,
	[job_describe] [nvarchar](max) NULL,
	[job_request] [nvarchar](max) NULL,
	[job_right] [nvarchar](max) NULL,
	[job_active] [bit] NULL,
	[job_option] [bit] NULL,
	[job_datecreate] [datetime] NULL,
	[job_dateupdate] [datetime] NULL,
	[job_bin] [bit] NULL,
	[job_view] [int] NULL,
	[user_id] [int] NULL,
	[job_key] [nvarchar](max) NULL,
	[job_textprice] [nvarchar](300) NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 5/13/2021 3:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[news_id] [int] IDENTITY(1,1) NOT NULL,
	[news_title] [nvarchar](255) NULL,
	[news_contents] [nvarchar](max) NULL,
	[news_image] [nvarchar](max) NULL,
	[cate_id] [int] NULL,
	[news_tags] [nvarchar](max) NULL,
	[news_genres] [int] NULL,
	[news_datecreate] [datetime] NULL,
	[news_dateupdate] [datetime] NULL,
	[news_active] [bit] NULL,
	[news_option] [bit] NULL,
	[news_bin] [bit] NULL,
	[user_id] [int] NULL,
	[news_view] [int] NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[news_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pakages]    Script Date: 5/13/2021 3:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pakages](
	[pakage_id] [int] IDENTITY(1,1) NOT NULL,
	[pakage_name] [nvarchar](max) NULL,
	[pakage_note] [nvarchar](max) NULL,
	[pakage_money] [int] NULL,
	[pakage_precent] [int] NULL,
	[pakage_active] [bit] NULL,
	[role_id] [int] NULL,
 CONSTRAINT [PK_Pakages] PRIMARY KEY CLUSTERED 
(
	[pakage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provices]    Script Date: 5/13/2021 3:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provices](
	[provice_id] [int] IDENTITY(1,1) NOT NULL,
	[provice_name] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Provices] PRIMARY KEY CLUSTERED 
(
	[provice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ratings]    Script Date: 5/13/2021 3:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ratings](
	[rating_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[idem] [int] NULL,
	[rating_datecreate] [datetime] NULL,
	[rating_sum] [int] NULL,
	[rating_title] [nvarchar](max) NULL,
	[rating_like] [nvarchar](max) NULL,
	[rating_improve] [nvarchar](max) NULL,
	[rating_ltpl] [int] NULL,
	[rating_dthh] [int] NULL,
	[rating_sqtdnv] [int] NULL,
	[rating_vhct] [int] NULL,
	[rating_vplv] [int] NULL,
	[rating_intro] [bit] NULL,
	[rating_level] [bit] NULL,
	[rating_satisfied] [nvarchar](max) NULL,
	[rating_unsatisfied] [nvarchar](max) NULL,
 CONSTRAINT [PK_Ratings] PRIMARY KEY CLUSTERED 
(
	[rating_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/13/2021 3:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](500) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubmitCv]    Script Date: 5/13/2021 3:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubmitCv](
	[sb_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[job_id] [int] NULL,
	[sb_datecreate] [datetime] NULL,
	[sb_active] [int] NULL,
	[sb_notecandidate] [nvarchar](max) NULL,
	[sb_noteemployer] [nvarchar](max) NULL,
	[sb_update] [datetime] NULL,
	[cv_id] [int] NULL,
 CONSTRAINT [PK_SubmitCv] PRIMARY KEY CLUSTERED 
(
	[sb_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubmitJob]    Script Date: 5/13/2021 3:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubmitJob](
	[sj_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[job_id] [int] NULL,
	[sj_note] [nvarchar](max) NULL,
	[sj_datecreate] [datetime] NULL,
	[cv_id] [int] NULL,
 CONSTRAINT [PK_SubmitJob] PRIMARY KEY CLUSTERED 
(
	[sj_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Themes]    Script Date: 5/13/2021 3:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Themes](
	[theme_id] [int] IDENTITY(1,1) NOT NULL,
	[theme_name] [nvarchar](500) NULL,
	[theme_img] [nvarchar](max) NULL,
	[theme_note] [nvarchar](max) NULL,
	[theme_view] [int] NULL,
	[theme_datecreate] [datetime] NULL,
	[theme_active] [bit] NULL,
	[theme_version] [bit] NULL,
 CONSTRAINT [PK_Themes] PRIMARY KEY CLUSTERED 
(
	[theme_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeJobs]    Script Date: 5/13/2021 3:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeJobs](
	[type_id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Types] PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/13/2021 3:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_email] [varchar](300) NULL,
	[user_pass] [nvarchar](max) NULL,
	[user_active] [bit] NULL,
	[user_option] [bit] NULL,
	[user_datecreate] [datetime] NULL,
	[user_dateupdate] [datetime] NULL,
	[user_img] [nvarchar](max) NULL,
	[user_sex] [bit] NULL,
	[user_birth] [datetime] NULL,
	[user_favourite] [nvarchar](max) NULL,
	[role_id] [int] NULL,
	[user_name] [nvarchar](600) NULL,
	[user_phone] [varchar](15) NULL,
	[employer_company] [nvarchar](300) NULL,
	[provice_id] [int] NULL,
	[employer_banner] [nvarchar](max) NULL,
	[employer_logo] [nvarchar](max) NULL,
	[employer_introduce] [nvarchar](max) NULL,
	[employer_favourite] [nvarchar](max) NULL,
	[employer_amount] [int] NULL,
	[user_note] [nvarchar](max) NULL,
	[employer_pageload] [bit] NULL,
	[employer_youtube] [nvarchar](max) NULL,
	[user_key] [nvarchar](max) NULL,
	[wp_id] [int] NULL,
	[employer_addpress] [nvarchar](300) NULL,
	[version_id] [int] NULL,
	[user_deadline] [datetime] NULL,
	[employer_amoutjob] [int] NULL,
	[user_bin] [bit] NULL,
	[candidate_amoutcv] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Versions]    Script Date: 5/13/2021 3:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Versions](
	[version_id] [int] IDENTITY(1,1) NOT NULL,
	[version_name] [nvarchar](400) NULL,
 CONSTRAINT [PK_Versions] PRIMARY KEY CLUSTERED 
(
	[version_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ViewCvs]    Script Date: 5/13/2021 3:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViewCvs](
	[view_id] [int] IDENTITY(1,1) NOT NULL,
	[view_view] [int] NULL,
	[cv_id] [int] NULL,
	[user_id] [int] NULL,
	[view_dateupdate] [datetime] NULL,
 CONSTRAINT [PK_ViewCvs] PRIMARY KEY CLUSTERED 
(
	[view_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Words]    Script Date: 5/13/2021 3:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Words](
	[word_id] [int] IDENTITY(1,1) NOT NULL,
	[word_name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Words] PRIMARY KEY CLUSTERED 
(
	[word_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkPlaces]    Script Date: 5/13/2021 3:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkPlaces](
	[wp_id] [int] IDENTITY(1,1) NOT NULL,
	[wp_name] [nvarchar](900) NULL,
 CONSTRAINT [PK_WorkPlaces] PRIMARY KEY CLUSTERED 
(
	[wp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bills] ON 

INSERT [dbo].[Bills] ([bill_id], [user_id], [bill_datecreate], [bill_sum], [bill_active], [bill_dealine], [pakege_id], [bill_key], [bill_orderid]) VALUES (4, 1, CAST(N'2021-04-10T12:35:49.730' AS DateTime), 270000, 1, CAST(N'2022-04-10T12:35:49.730' AS DateTime), 10, N'8df04bbb-4a74-4039-aaa9-a5d45d561f7e', N'0517c4e0-8bfe-4968-ae76-4dd23ae76461')
INSERT [dbo].[Bills] ([bill_id], [user_id], [bill_datecreate], [bill_sum], [bill_active], [bill_dealine], [pakege_id], [bill_key], [bill_orderid]) VALUES (5, 4, CAST(N'2021-04-15T15:42:41.563' AS DateTime), 39500, 1, CAST(N'2021-05-15T15:42:41.563' AS DateTime), 12, NULL, NULL)
INSERT [dbo].[Bills] ([bill_id], [user_id], [bill_datecreate], [bill_sum], [bill_active], [bill_dealine], [pakege_id], [bill_key], [bill_orderid]) VALUES (6, 1010, CAST(N'2021-04-23T11:16:58.057' AS DateTime), 35500, 1, CAST(N'2021-05-23T11:16:58.057' AS DateTime), 14, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Bills] OFF
GO
SET IDENTITY_INSERT [dbo].[Categorys] ON 

INSERT [dbo].[Categorys] ([cate_id], [cate_name], [cate_view]) VALUES (1, N'Bán hàng kỹ thuật', NULL)
INSERT [dbo].[Categorys] ([cate_id], [cate_name], [cate_view]) VALUES (2, N'Bán hàng', NULL)
INSERT [dbo].[Categorys] ([cate_id], [cate_name], [cate_view]) VALUES (3, N'Bán lẻ/Bán sỉ', NULL)
SET IDENTITY_INSERT [dbo].[Categorys] OFF
GO
SET IDENTITY_INSERT [dbo].[Chats] ON 

INSERT [dbo].[Chats] ([chat_id], [chat_sender], [chat_receiver], [chat_content], [chat_datecreate], [chat_color], [chat_key], [chat_active]) VALUES (33, 1014, 1, N'chào', CAST(N'2021-04-28T12:32:06.417' AS DateTime), NULL, N'1014key1eky@gkeyuynhm', 0)
INSERT [dbo].[Chats] ([chat_id], [chat_sender], [chat_receiver], [chat_content], [chat_datecreate], [chat_color], [chat_key], [chat_active]) VALUES (34, 1, 1014, N'chào', CAST(N'2021-04-28T12:32:57.010' AS DateTime), NULL, N'1key1014uynhmkeyeky@g', 0)
INSERT [dbo].[Chats] ([chat_id], [chat_sender], [chat_receiver], [chat_content], [chat_datecreate], [chat_color], [chat_key], [chat_active]) VALUES (35, 1014, 1, N'2', CAST(N'2021-04-28T12:33:21.293' AS DateTime), NULL, N'1014key1eky@gkeyuynhm', 0)
SET IDENTITY_INSERT [dbo].[Chats] OFF
GO
SET IDENTITY_INSERT [dbo].[Cvs] ON 

SET IDENTITY_INSERT [dbo].[Cvs] OFF
GO
SET IDENTITY_INSERT [dbo].[Exps] ON 

INSERT [dbo].[Exps] ([exp_id], [exp_name]) VALUES (1, N'Chưa có kinh nghiệm')
INSERT [dbo].[Exps] ([exp_id], [exp_name]) VALUES (2, N'Dưới 1 năm')
INSERT [dbo].[Exps] ([exp_id], [exp_name]) VALUES (3, N'1 năm')
SET IDENTITY_INSERT [dbo].[Exps] OFF
GO
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([group_id], [user_id], [category_id], [datecreate], [group_item], [job_id], [provice_id], [email], [skill], [em_id]) VALUES (1, 2, 5, CAST(N'2021-04-08T21:56:49.527' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Groups] ([group_id], [user_id], [category_id], [datecreate], [group_item], [job_id], [provice_id], [email], [skill], [em_id]) VALUES (2, 2, 7, CAST(N'2021-04-08T21:56:49.557' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Groups] ([group_id], [user_id], [category_id], [datecreate], [group_item], [job_id], [provice_id], [email], [skill], [em_id]) VALUES (3, NULL, 1, CAST(N'2021-04-09T15:15:49.900' AS DateTime), 2, 1, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Groups] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemCvs] ON 

INSERT [dbo].[ItemCvs] ([ic_id], [ic_name], [ic_mid], [ic_content], [ic_fakeid], [ic_theme_id], [ic_usid], [ic_stt], [ic_enddate], [ic_todate], [ic_fake]) VALUES (25, N'Công ty QuickJob', N'Nhân viên bán hàng', N'- Hỗ trợ viết bài quảng cáo sản phẩm qua kênh facebook, các forum,... 
 - Giới thiệu, tư vấn sản phẩm, giải đáp các vấn đề thắc mắc của khách hàng qua điện thoại và email.', NULL, 1, 1, 2, N'05/2014', N'10/2010', N'a033a888-b343-4ffa-af54-45a1700da3ce1')
INSERT [dbo].[ItemCvs] ([ic_id], [ic_name], [ic_mid], [ic_content], [ic_fakeid], [ic_theme_id], [ic_usid], [ic_stt], [ic_enddate], [ic_todate], [ic_fake]) VALUES (26, N'Nhóm tình nguyện QuickJob', N'Tình nguyện viên', N'Tập hợp các món quà và phân phát tới người vô gia cư. 
 - Chia sẻ, động viên họ vượt qua giai đoạn khó khăn, giúp họ có những suy nghĩ lạc quan.', NULL, 1, 1, 3, N'05/2014', N'10/2010', N'a033a888-b343-4ffa-af54-45a1700da3ce1')
INSERT [dbo].[ItemCvs] ([ic_id], [ic_name], [ic_mid], [ic_content], [ic_fakeid], [ic_theme_id], [ic_usid], [ic_stt], [ic_enddate], [ic_todate], [ic_fake]) VALUES (27, N'Giải nhất tài năng QuickJob 2017', NULL, NULL, NULL, 1, 1, 4, N'2017', NULL, N'a033a888-b343-4ffa-af54-45a1700da3ce1')
GO
SET IDENTITY_INSERT [dbo].[ItemCvs] OFF
GO
SET IDENTITY_INSERT [dbo].[Jobs] ON 

SET IDENTITY_INSERT [dbo].[Jobs] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Pakages] ON 

INSERT [dbo].[Pakages] ([pakage_id], [pakage_name], [pakage_note], [pakage_money], [pakage_precent], [pakage_active], [role_id]) VALUES (10, N'TÀI KHOẢN VIP', NULL, 40000, 70, 1, 1)
SET IDENTITY_INSERT [dbo].[Pakages] OFF
GO
SET IDENTITY_INSERT [dbo].[Provices] ON 

INSERT [dbo].[Provices] ([provice_id], [provice_name]) VALUES (1, N'An Giang')
INSERT [dbo].[Provices] ([provice_id], [provice_name]) VALUES (2, N'Bà Rịa - Vũng Tàu')
INSERT [dbo].[Provices] ([provice_id], [provice_name]) VALUES (3, N'Bắc Giang')
SET IDENTITY_INSERT [dbo].[Provices] OFF
GO
SET IDENTITY_INSERT [dbo].[Ratings] ON 

INSERT [dbo].[Ratings] ([rating_id], [user_id], [idem], [rating_datecreate], [rating_sum], [rating_title], [rating_like], [rating_improve], [rating_ltpl], [rating_dthh], [rating_sqtdnv], [rating_vhct], [rating_vplv], [rating_intro], [rating_level], [rating_satisfied], [rating_unsatisfied]) VALUES (1, 3069, 1010, CAST(N'2021-05-12T23:43:40.037' AS DateTime), 4, N'Công ty tốt', N'Tôi thích môi trường này', N'Ok nhé', 5, 5, 5, 5, 5, 1, NULL, NULL, NULL)
INSERT [dbo].[Ratings] ([rating_id], [user_id], [idem], [rating_datecreate], [rating_sum], [rating_title], [rating_like], [rating_improve], [rating_ltpl], [rating_dthh], [rating_sqtdnv], [rating_vhct], [rating_vplv], [rating_intro], [rating_level], [rating_satisfied], [rating_unsatisfied]) VALUES (2, 3069, 3058, CAST(N'2021-05-13T00:22:52.877' AS DateTime), 5, N'Công ty rất ok', N'Công ty rất ok', N'Không', 5, 5, 5, 5, 5, 1, NULL, NULL, NULL)
INSERT [dbo].[Ratings] ([rating_id], [user_id], [idem], [rating_datecreate], [rating_sum], [rating_title], [rating_like], [rating_improve], [rating_ltpl], [rating_dthh], [rating_sqtdnv], [rating_vhct], [rating_vplv], [rating_intro], [rating_level], [rating_satisfied], [rating_unsatisfied]) VALUES (3, 3069, 3058, CAST(N'2021-05-13T00:24:45.137' AS DateTime), 4, N'Công ty này làm việc rất vui', N'Đội ngũ chuyển nghiệp, tận tình tôi rất thích', N'Không có', 5, 5, 5, 5, 5, 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Ratings] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (1, N'Ứng viên')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (2, N'Nhà tuyển dụng')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (3, N'Admin')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[SubmitCv] ON 

INSERT [dbo].[SubmitCv] ([sb_id], [user_id], [job_id], [sb_datecreate], [sb_active], [sb_notecandidate], [sb_noteemployer], [sb_update], [cv_id]) VALUES (1, 1, 2, CAST(N'2021-04-10T17:33:47.340' AS DateTime), 3, N'sasas', N'Chúng tôi thấy CV của bạn không phù hợp với công ty. Bạn có thể chỉnh sửa lại Cv và ứng tuyển lại các công việc. Nếu phù hợp chúng tôi sẽ chấp nhận ứng tuyển bạn.', CAST(N'2021-04-10T20:38:39.780' AS DateTime), 4)
INSERT [dbo].[SubmitCv] ([sb_id], [user_id], [job_id], [sb_datecreate], [sb_active], [sb_notecandidate], [sb_noteemployer], [sb_update], [cv_id]) VALUES (3, 6, 2, CAST(N'2021-04-10T17:33:47.340' AS DateTime), 1, N'Em muốn làm ok', NULL, CAST(N'2021-04-10T17:33:47.340' AS DateTime), 7)
INSERT [dbo].[SubmitCv] ([sb_id], [user_id], [job_id], [sb_datecreate], [sb_active], [sb_notecandidate], [sb_noteemployer], [sb_update], [cv_id]) VALUES (1003, 5, 2, CAST(N'2021-04-10T19:16:57.693' AS DateTime), 3, NULL, N'Chúng tôi thấy CV của bạn không phù hợp với công ty. Bạn có thể chỉnh sửa lại Cv và ứng tuyển lại các công việc. Nếu phù hợp chúng tôi sẽ chấp nhận ứng tuyển bạn.', CAST(N'2021-04-15T14:20:24.843' AS DateTime), 6)
SET IDENTITY_INSERT [dbo].[SubmitCv] OFF
GO
SET IDENTITY_INSERT [dbo].[SubmitJob] ON 

INSERT [dbo].[SubmitJob] ([sj_id], [user_id], [job_id], [sj_note], [sj_datecreate], [cv_id]) VALUES (4, 4, 2, N'mời', CAST(N'2021-04-11T13:38:32.257' AS DateTime), 1007)
INSERT [dbo].[SubmitJob] ([sj_id], [user_id], [job_id], [sj_note], [sj_datecreate], [cv_id]) VALUES (1002, 2, 1, N'Bạn hãy liên hệ công ty để ứng cữ vào vị trí này', CAST(N'2021-04-26T22:07:50.053' AS DateTime), 2021)
INSERT [dbo].[SubmitJob] ([sj_id], [user_id], [job_id], [sj_note], [sj_datecreate], [cv_id]) VALUES (1003, 2, 1, N'Bạn hãy liên hệ với công ty để được vào vị trí này', CAST(N'2021-04-26T22:08:33.207' AS DateTime), 1014)
SET IDENTITY_INSERT [dbo].[SubmitJob] OFF
GO
SET IDENTITY_INSERT [dbo].[Themes] ON 

INSERT [dbo].[Themes] ([theme_id], [theme_name], [theme_img], [theme_note], [theme_view], [theme_datecreate], [theme_active], [theme_version]) VALUES (1, N'Mẫu CV tiêu chuẩn', N'mau-cv-default.jpg', N'Mẫu CV tiêu chuẩn phù hợp với nhiều ngành nghề, dễ sử dụng', 1, CAST(N'2021-03-14T00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[Themes] ([theme_id], [theme_name], [theme_img], [theme_note], [theme_view], [theme_datecreate], [theme_active], [theme_version]) VALUES (2, N'Mẫu CV sinh viên', N'mau-cv-tiny_1.jpg', N'Mẫu CV tiêu chuẩn phù hợp với nhiều ngành nghề, dễ sử dụng', 1, CAST(N'2021-03-14T00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[Themes] ([theme_id], [theme_name], [theme_img], [theme_note], [theme_view], [theme_datecreate], [theme_active], [theme_version]) VALUES (3, N'Mẫu CV kỹ thuật phần mềm', N'mau-cv-software_engineer.jpg', N'Mẫu CV tiêu chuẩn phù hợp với nhiều ngành nghề, dễ sử dụng', 1, CAST(N'2021-03-14T00:00:00.000' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[Themes] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeJobs] ON 

INSERT [dbo].[TypeJobs] ([type_id], [type_name]) VALUES (1, N'Toàn thời gian')
INSERT [dbo].[TypeJobs] ([type_id], [type_name]) VALUES (2, N'Bán thời gian')
INSERT [dbo].[TypeJobs] ([type_id], [type_name]) VALUES (3, N'Thực tập')
SET IDENTITY_INSERT [dbo].[TypeJobs] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Versions] ON 

INSERT [dbo].[Versions] ([version_id], [version_name]) VALUES (1, N'Miễn phí')
INSERT [dbo].[Versions] ([version_id], [version_name]) VALUES (2, N'Nâng cấp')
INSERT [dbo].[Versions] ([version_id], [version_name]) VALUES (3, N'Cao cấp 1')
SET IDENTITY_INSERT [dbo].[Versions] OFF
GO
SET IDENTITY_INSERT [dbo].[ViewCvs] ON 

INSERT [dbo].[ViewCvs] ([view_id], [view_view], [cv_id], [user_id], [view_dateupdate]) VALUES (1, 37, 1007, 4, CAST(N'2021-04-11T11:19:23.100' AS DateTime))
INSERT [dbo].[ViewCvs] ([view_id], [view_view], [cv_id], [user_id], [view_dateupdate]) VALUES (2, 15, 4, 4, CAST(N'2021-04-11T12:00:31.857' AS DateTime))
INSERT [dbo].[ViewCvs] ([view_id], [view_view], [cv_id], [user_id], [view_dateupdate]) VALUES (3, 31, 1007, 2, CAST(N'2021-04-12T18:44:45.160' AS DateTime))
SET IDENTITY_INSERT [dbo].[ViewCvs] OFF
GO
SET IDENTITY_INSERT [dbo].[Words] ON 

INSERT [dbo].[Words] ([word_id], [word_name]) VALUES (1, N'MẸ')
INSERT [dbo].[Words] ([word_id], [word_name]) VALUES (2, N'CC')
INSERT [dbo].[Words] ([word_id], [word_name]) VALUES (3, N'NÓ')
SET IDENTITY_INSERT [dbo].[Words] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkPlaces] ON 

INSERT [dbo].[WorkPlaces] ([wp_id], [wp_name]) VALUES (1, N'Nhân viên')
INSERT [dbo].[WorkPlaces] ([wp_id], [wp_name]) VALUES (2, N'Chuyên viên')
INSERT [dbo].[WorkPlaces] ([wp_id], [wp_name]) VALUES (3, N'Phó phòng')
SET IDENTITY_INSERT [dbo].[WorkPlaces] OFF
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_Pakages] FOREIGN KEY([pakege_id])
REFERENCES [dbo].[Pakages] ([pakage_id])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_Pakages]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_Users]
GO
ALTER TABLE [dbo].[Cvs]  WITH CHECK ADD  CONSTRAINT [FK_Cvs_Themes] FOREIGN KEY([theme_id])
REFERENCES [dbo].[Themes] ([theme_id])
GO
ALTER TABLE [dbo].[Cvs] CHECK CONSTRAINT [FK_Cvs_Themes]
GO
ALTER TABLE [dbo].[Cvs]  WITH CHECK ADD  CONSTRAINT [FK_Cvs_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Cvs] CHECK CONSTRAINT [FK_Cvs_Users]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Categorys] FOREIGN KEY([category_id])
REFERENCES [dbo].[Categorys] ([cate_id])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Categorys]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Jobs] FOREIGN KEY([job_id])
REFERENCES [dbo].[Jobs] ([job_id])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Jobs]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Provices] FOREIGN KEY([provice_id])
REFERENCES [dbo].[Provices] ([provice_id])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Provices]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Users]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Exps] FOREIGN KEY([exp_id])
REFERENCES [dbo].[Exps] ([exp_id])
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_Exps]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Types] FOREIGN KEY([type_id])
REFERENCES [dbo].[TypeJobs] ([type_id])
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_Types]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_Users]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_WorkPlaces] FOREIGN KEY([wp_id])
REFERENCES [dbo].[WorkPlaces] ([wp_id])
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_WorkPlaces]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Users]
GO
ALTER TABLE [dbo].[Pakages]  WITH CHECK ADD  CONSTRAINT [FK_Pakages_Roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Pakages] CHECK CONSTRAINT [FK_Pakages_Roles]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [FK_Ratings_Users]
GO
ALTER TABLE [dbo].[SubmitCv]  WITH CHECK ADD  CONSTRAINT [FK_SubmitCv_Cvs] FOREIGN KEY([cv_id])
REFERENCES [dbo].[Cvs] ([cv_id])
GO
ALTER TABLE [dbo].[SubmitCv] CHECK CONSTRAINT [FK_SubmitCv_Cvs]
GO
ALTER TABLE [dbo].[SubmitCv]  WITH CHECK ADD  CONSTRAINT [FK_SubmitCv_Jobs] FOREIGN KEY([job_id])
REFERENCES [dbo].[Jobs] ([job_id])
GO
ALTER TABLE [dbo].[SubmitCv] CHECK CONSTRAINT [FK_SubmitCv_Jobs]
GO
ALTER TABLE [dbo].[SubmitCv]  WITH CHECK ADD  CONSTRAINT [FK_SubmitCv_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[SubmitCv] CHECK CONSTRAINT [FK_SubmitCv_Users]
GO
ALTER TABLE [dbo].[SubmitJob]  WITH CHECK ADD  CONSTRAINT [FK_SubmitJob_Cvs] FOREIGN KEY([cv_id])
REFERENCES [dbo].[Cvs] ([cv_id])
GO
ALTER TABLE [dbo].[SubmitJob] CHECK CONSTRAINT [FK_SubmitJob_Cvs]
GO
ALTER TABLE [dbo].[SubmitJob]  WITH CHECK ADD  CONSTRAINT [FK_SubmitJob_Jobs] FOREIGN KEY([job_id])
REFERENCES [dbo].[Jobs] ([job_id])
GO
ALTER TABLE [dbo].[SubmitJob] CHECK CONSTRAINT [FK_SubmitJob_Jobs]
GO
ALTER TABLE [dbo].[SubmitJob]  WITH CHECK ADD  CONSTRAINT [FK_SubmitJob_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[SubmitJob] CHECK CONSTRAINT [FK_SubmitJob_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Provices] FOREIGN KEY([provice_id])
REFERENCES [dbo].[Provices] ([provice_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Provices]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Versions] FOREIGN KEY([version_id])
REFERENCES [dbo].[Versions] ([version_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Versions]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_WorkPlaces] FOREIGN KEY([wp_id])
REFERENCES [dbo].[WorkPlaces] ([wp_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_WorkPlaces]
GO
ALTER TABLE [dbo].[ViewCvs]  WITH CHECK ADD  CONSTRAINT [FK_ViewCvs_Cvs] FOREIGN KEY([cv_id])
REFERENCES [dbo].[Cvs] ([cv_id])
GO
ALTER TABLE [dbo].[ViewCvs] CHECK CONSTRAINT [FK_ViewCvs_Cvs]
GO
ALTER TABLE [dbo].[ViewCvs]  WITH CHECK ADD  CONSTRAINT [FK_ViewCvs_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[ViewCvs] CHECK CONSTRAINT [FK_ViewCvs_Users]
GO
/****** Object:  StoredProcedure [dbo].[SqlQueryNotificationStoredProcedure-5f75f5cf-8228-49e8-9bf2-2f296c0f2094]    Script Date: 5/13/2021 3:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SqlQueryNotificationStoredProcedure-5f75f5cf-8228-49e8-9bf2-2f296c0f2094] AS BEGIN BEGIN TRANSACTION; RECEIVE TOP(0) conversation_handle FROM [SqlQueryNotificationService-5f75f5cf-8228-49e8-9bf2-2f296c0f2094]; IF (SELECT COUNT(*) FROM [SqlQueryNotificationService-5f75f5cf-8228-49e8-9bf2-2f296c0f2094] WHERE message_type_name = 'http://schemas.microsoft.com/SQL/ServiceBroker/DialogTimer') > 0 BEGIN if ((SELECT COUNT(*) FROM sys.services WHERE name = 'SqlQueryNotificationService-5f75f5cf-8228-49e8-9bf2-2f296c0f2094') > 0)   DROP SERVICE [SqlQueryNotificationService-5f75f5cf-8228-49e8-9bf2-2f296c0f2094]; if (OBJECT_ID('SqlQueryNotificationService-5f75f5cf-8228-49e8-9bf2-2f296c0f2094', 'SQ') IS NOT NULL)   DROP QUEUE [SqlQueryNotificationService-5f75f5cf-8228-49e8-9bf2-2f296c0f2094]; DROP PROCEDURE [SqlQueryNotificationStoredProcedure-5f75f5cf-8228-49e8-9bf2-2f296c0f2094]; END COMMIT TRANSACTION; END
GO
USE [master]
GO
