@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:800);

.snip1223 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #000000;
    text-align: center;
    font-size: 16px;
    width: 100%;
    max-width: 1000px;
    margin: 70px 10px 10px;
}

    .snip1223 .plan {
        margin: 0;
        width: 25%;
        position: relative;
        float: left;
        background-color: #ffffff;
        border: 1px solid #260b08;
    }

        .snip1223 .plan:hover .plan-cost,
        .snip1223 .plan.hover .plan-cost {
            -webkit-transform: scale(1.2) rotate(20deg);
            transform: scale(1.2) rotate(20deg);
            -webkit-transform-origin: 50% 51%;
            -ms-transform-origin: 50% 51%;
            transform-origin: 50% 51%;
        }

    .snip1223 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .snip1223 header {
        position: relative;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .snip1223 .plan-title {
        top: 0;
        font-weight: 800;
        padding: 45px 15px 35px;
        margin: 0;
        display: inline-block;
        color: #262626;
        text-transform: uppercase;
    }

    .snip1223 .plan-cost {
        background-color: green;
        border-radius: 50%;
        text-align: center;
        line-height: 80px;
        width: 80px;
        height: 80px;
        position: absolute;
        top: -40px;
        right: 20px;
    }

    .snip1223 .plan-price {
        font-family: 'Montserrat', Arial, sans-serif;
        font-weight: 800;
        font-size: 1.2em;
        color: #ffffff;
    }

    .snip1223 .plan-type {
        opacity: 0.8;
        color: #ffffff;
        font-size: 0.7em;
    }

    .snip1223 .plan-features {
        padding: 0;
        margin: 0;
        text-align: center;
        list-style: outside none none;
        font-size: 0.8em;
    }

        .snip1223 .plan-features li {
            border-top: 1px solid rgba(0, 0, 0, 0.2);
            padding: 10px 5%;
        }

            .snip1223 .plan-features li:nth-child(even) {
                background: rgba(0, 0, 0, 0.08);
            }

        .snip1223 .plan-features i {
            margin-right: 8px;
            opacity: 0.4;
        }

    .snip1223 .plan-select {
        background-color: green;
    }

        .snip1223 .plan-select a {
            color: #ffffff;
            text-decoration: none;
            padding: 20px;
            width: 100%;
            font-weight: 500;
            text-transform: uppercase;
            display: inline-block;
        }

            .snip1223 .plan-select a:hover {
                background-color: #43140f;
            }

    .snip1223 .featured {
        margin-top: -10px;
        background-color: black;
        color: #ffffff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        z-index: 1;
    }

        .snip1223 .featured .plan-title,
        .snip1223 .featured .plan-price {
            color: #ffffff;
        }

        .snip1223 .featured .plan-title {
            padding: 50px 15px 40px;
        }

        .snip1223 .featured .plan-select a {
            padding: 25px;
        }

@media only screen and (max-width: 767px) {
    .snip1223 .plan {
        width: 50%;
    }

    .snip1223 .plan-title,
    .snip1223 .plan-select a {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    .snip1223 .plan-select a,
    .snip1223 .featured .plan-select a {
        padding: 20px;
    }

    .snip1223 .featured {
        margin-top: 0;
    }
}

@media only screen and (max-width: 440px) {
    .snip1223 .plan {
        width: 100%;
    }
}
