
@{
    ViewBag.Title = "Nhà tuyển dụng xem hồ sơ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="services" class="text-dark" ng-app="myApp">
    <div class="container" ng-controller="myCtrl">
        <div class="row flex-center h-100">
            <div class="col-xl-9">
                <div class="row h-100" style="background-color: white">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="border text-dark rounded">
                                    <p style="padding: 10px">
                                        <b>NHÀ TUYỂN DỤNG XEM HỒ SƠ</b> <br />
                                        <span class="text-danger">Quá trình nhà tuyển dụng xem hồ sơ của bạn sẽ được QuickJob ghi chép chi tiết theo từng giây. Để đảm bảo hồ sơ của bạn có được chú ý hay không.</span>
                                    </p>
                                    <table class="table text-dark table-hover table-bordered" style=" cursor: pointer; font-size: 12px" id="displayEmployerViewCV">
                                        
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        @Html.Action("All", "Users")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {
        $(function () {
            // Proxy created on the fly
            var cus = $.connection.cvHub;
            // Declare a function on the job hub so the server can invoke it
            cus.client.displayEmployerViewCV = function () {
                getData();
            };
            // Start the connection
            $.connection.hub.start();
            getData();
        });
        function getData() {
            var $tbl = $('#displayEmployerViewCV');
            $.ajax({
                url: '/View/GetEmployerViewCV',
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    $tbl.empty();
                    $.each(data.list, function (i, model) {
                        $tbl.append
                            (
                                '<tr>' +
                                    '<td width="15%">' +
                                        '<img src="/Images/Cvs/'+model.img+'" style="width: 80px; height: 80px" />' +
                                    '</td>' +
                                    '<td width="30%">' +
                                        '<span>Tên: </span> '+model.fullname+' <br />' +
                                        '<span>Chuyên nghành: </span> '+model.location+' <br />' +
                                        '<span><i class="fa fa-eye">&nbsp;</i>Xem hồ sơ <br />' +
                                    '</td>' +
                                    '<td>' +
                                        '<div class="row">' +
                                            '<div class="col-lg-2">' +
                                               ' <img src="/Images/Employers/'+model.logo+'" style="width: 30px; height: 30px" />'+
                                            '</div>' +
                                            '<div class="col-lg-10">' +
                                                     '<i class="fa fa-building">&nbsp;</i>'+model.company +
                                                       ' <br/>Đã xem: '+model.view+' lần <br />' +
                                                        'Lần xem gần đây: <br />' +
                                                        model.update +
                                                    '</div>'+
                                       ' </div>'+
                                    '</td>'+
                                '</tr>'
                        );
                    });
                }
            });
        }
    });
</script>