
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="services" class="text-dark" ng-app="myApp">
<div class="container" ng-controller="myCtrl">
    <div class="row flex-center h-100">
        <div class="col-xl-9">
            <div class="row h-100" style="background-color: white">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="border text-dark rounded mt-3">
                                <p style="padding: 10px">
                                    <span class="text-danger">Thay đổi mật khẩu.</span> <br /><br />
                                </p>
                                <div style="padding: 10px">
                                    <form class="ui form">
                                        <div class="field">
                                            <label>Mật khẩu cũ</label>
                                            <input type="text" name="first-name" placeholder="Nhập mật khẩu cũ">
                                        </div>
                                        <div class="field">
                                            <label>Mật khẩu mới</label>
                                            <input type="text" name="last-name" placeholder="Nhập mật khẩu mới">
                                        </div>
                                        <div class="field">
                                            <label>Xác nhận mật khẩu</label>
                                            <input type="text" name="last-name" placeholder="Xác nhận mật khẩu mới">
                                        </div>
                                        <button class="ui button" type="submit">Đổi mật khẩu</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    @Html.Action("All", "Users")
                </div>
            </div>
        </div>
    </div>
</div>
</section>
