
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Areas/Employer/Views/Shared/_Layout.cshtml";
}
<section class="section-services section-t8" style="background-image: url('../../../../Images/Employers/pexels-pixabay-416405.jpg'); background-repeat: no-repeat; background-size: 100% 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <center>
                    <div class="login-page">
                        <div class="form">
                            <h6>Đăng nhập</h6>
                            <br />
                            <form class="login-form" method="post">
                                <input type="text" placeholder="Email" name="email" required/>
                                <input type="password" placeholder="Mật khẩu" name="pass" required/>
                                <b style="float: left; font-size: 12px" href="">Quên mật khẩu?</b>
                                <button class="mt-3" type="submit">Đăng nhập</button>
                                <div class="text-danger">@ViewBag.Check</div>
                                <p class="message">Bạn chưa có tài khoản? <a href="/Employer/UsersEmployer/SignUp">Đăng ký ngay</a></p>
                            </form>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
</section>
<style>
    .login-page {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
    }

    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

        .form input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }

        .form button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: #4CAF50;
            width: 100%;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
        }

            .form button:hover, .form button:active, .form button:focus {
                background: #43A047;
            }

        .form .message {
            margin: 15px 0 0;
            color: #b3b3b3;
            font-size: 12px;
        }

            .form .message a {
                color: #4CAF50;
                text-decoration: none;
            }

        .form .register-form {
            display: none;
        }
</style>
<script>
    $('.message a').click(function () {
        $('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
    });
</script>
